@media screen and (max-width: 1272px){
    body{
        font-family: 'montserrat-regular';
    }
      
    .header-div1{
        flex-basis: 134.63px;
        margin-top: 20px;
        margin-left: 10px;
    }
    
    .header-list{
        margin: 0;
        padding: 0;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0px;
    }
        
    .header-links-style{
        text-decoration: none;
        color: #1c1c1d;
        text-align: center;
        margin-left: 5px;
        margin-right: 13px;
    }

    .header-links-style:hover{
        text-decoration: underline #10dfc2;
        color: #10dfc2;
        text-align: center;
        margin-left: 5px;
        margin-right: 13px;
    }
        
    .header-links-style-last-one{
        text-decoration: none;
        color: #1c1c1d;
        margin-left: 5px;
    }
    
    .header-links-style-last-one:hover{
        text-decoration: underline #10dfc2;
        color: #10dfc2;
        margin-left: 5px;
    }
    
    .header-div3{
        flex-basis: 213px;
        margin-top: 29px;
        margin-right: 0px;
        margin-left: 5px;
    }
    
    .header-button{
        width: 213px;
        height: 42px;
        padding: 10px 60px 10px 60px;
        background: #10dfc2 no-repeat;
        font-size: 18px;
        text-decoration: none; 
        color: #FFFFFF;
        border-radius: 15px;
        border: 0;
    }
    
    .header-button:hover{
        width: 213px;
        height: 42px;
        padding: 10px 60px 10px 60px;
        background: #dafffb no-repeat;
        font-size: 18px;
        text-shadow: 0px 0px 1.5px #10dfc2;
        color: #10dfc2;
        border-radius: 15px;
        box-shadow: 0px 0px 10px #10dfc2;    
    }
            
    .section3-flexbox{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 2px 2px 2px 2px;
    }
    
    .section3-div1, .section3-div2, .section3-div3, .section3-div4{
        width: 262px;
        height: 300px;
        background-color: #fafafa;
        box-shadow: 0px 0px 10px #00000029;
        border-radius: 5px;
    }

    .section3-div1:hover, .section3-div2:hover, .section3-div3:hover, .section3-div4:hover{
        width: 262px;
        height: 300px;
        background-color: #FFFFFF;
        box-shadow: 0px 0px 10px #00000029;
        border-radius: 5px;
    }
   
    .section4-div1{
        flex-basis: 253px;
        margin-top: 50px;
        margin-left: 90px;
    }
    
    .section4-div2{
        flex-basis: 471px;
        margin-top: 73px;
        margin-right: 90px;
        margin-left: 50px;
    }
    
     .section5-div1{
        flex-basis: 385px;
        margin-top: 55.5px;
        margin-left: 90px;
    }
    
    .section5-div2{
        flex-basis: 298.46px;
        margin-top: 37.5px;
        margin-left: 40px;
        margin-right: 40px;
    }
        
    .section6-div1{
        color: #FFFFFF;
        margin-top: 50px;
        margin-left: 50px;
    }
    
    .section6-div2{
        color: #FFFFFF;
        margin-top: 50px;
        margin-right: 50px;
    }

    .footer-div1{
        flex-basis: 428px;
        margin-top: 50px;
        margin-left: 30px;
        line-height: 23px;
        letter-spacing: 0px;
    }
    
    .footer-div2{
        flex-basis: 132px;
        margin-top: 0px;
        margin-top: 50px;
    }
    
    .footer-div3{
        flex-basis: 412px;
        margin-top: 31px;
        margin-right: 30px;
    }

    .address-image{
        background-color: #FFFFFF;
        padding: 12px;
        border-radius: 50%;
    }
    
    .address1-div1, .address2-div1, .address3-div1{
        margin-top: 30.5px;
        margin-right: 20px;
        margin-left: 20px;
    }
}